
# RStudio files
.Rproj.user

# History files
.Rhistory

# Session data files
.RData

# User-specific files
.Ruserdata

# Libre office calc
.ods

# Dossier data
data/*
/.quarto/

# Excel files
.xlsx

**/*.quarto_ipynb
